@using App.Component
@model List<Post>
@{
   var list= ViewBag.categories as List<Category>;
   var categoryslug=ViewBag.categoryslug as string;
   var category=ViewBag.category as Category;
   var listparent=ViewBag.listparent as List<Category>;
   ViewData["Title"]=(category!=null)?category.Title:"Tất cả các bài viết ";

}
<div class="p-3 mb-2 bg-light text-dark">
<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Home</a></li>
        @if(listparent!=null)
        {
         @foreach (var item in listparent)
         {
              <li class="breadcrumb-item">
                    <a asp-action="Index" asp-route-categoryslug=@item.Slug>@item.Title</a>
               </li>           
         }
        }
       </ol>
</div>
<h3>@ViewData["Title"]</h3>
@if(category!=null)
{
   <p>@category.Content</p>
}
else
{
   
}

@foreach (var item in Model)
{
<div class="m-2">
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img src="/File/anh-c-sharp.png" width="100" height="100" alt="Sample Image">
        </div>
        <div class="flex-grow-1 ms-3">
           <h5 class="mt-0">
            <a asp-controller="ViewPost" asp-action="Detail" asp-route-postslug=@item.Slug>
               @item.Title
            </a>
           </h5>
              <p>@Html.Raw(item.Description)</p>
            <div>
               Tác giả:<i> @item.Author?.UserName</i> | <strong>Ngày cập nhập:@item.DateUpdated.ToShortDateString()</strong>

               </div>
        </div>
    </div>
</div>
<hr>
}     
@section Sidebar{
   
   @await Component.InvokeAsync("App.Component.CategorySidebar",
   new CategorySidebar.CategorySidebarData()
   {
    categories= list,
    level=0,
    slugCategory=categoryslug
   })
      
}